<h1>Registrate</h1>

<form action="/adduser" method="post">

    <label>Nombre</label>
    <input type="text" name="name"  class="input-user" />
    <br/>       
    <label>Apellidos</label>
    <input  type="text" name="surname" class="input-user" />
    <br/>   
    <label>email</label>
    <input type="email" name="email" class="input-user" />
    <br/>
    <label>password</label>
    <input type="password" name="password" class="input-user" />
    <br>
    <input type="submit" value="Registrar">


</form>